@import "../../style/colors";

.Button {
  border: 2px solid white;
  background-color: $primary;
  border-radius: 12px;
  padding: 10px;
  color: white;
  font-family: Roboto, serif;
  margin-top: 20px;
  font-size: 18px;
  box-shadow: rgba(0,0,0,0.2) 5px 5px 15px;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: $secondary;
    cursor: pointer;
    transform: scale(1.05);
  }
}
