@import "src/style/size";

.Message {
  padding: 10px;
  font-size: 1.8em;
  text-align: justify;
  @media (max-width: $mobile) {
    font-size: 1em;
  }
  animation: fadeIn ease 1s;

  flex: 1;
}

.Message-title {
  font-weight: bold;
  text-transform: capitalize;
  font-family: Roboto-Medium, serif;
}

.Message-parallax {
  position: absolute;
  left: auto;
  margin-top: 40vh;
}
